SQLALCHEMY_DATABASE_URI='sqlite:///kraken.db'
DEBUG=True
SECRET_KEY='development'
ROLLBAR_TOKEN='token'
LOG_LEVEL='DEBUG'
ENVIRONMENT='development
TABLE_NAME='seshdash_bom_data_point'
APIKEY=None
MAPPING=dict() # {<node_id>:{<index_number>:<mapping_value>...,'table':<table_name>}...}
BULK_INDEX_MAPPING=dict()
INFLUXDB_HOST=localhost
INFLUXDB_PORT=8086
INFLUXDB_DATABASE=kraken
INFLUXDB_USER=None
INFLUXDB_PASSWORD=None
