SQLALCHEMY_DATABASE_URI='sqlite:///kraken.db'
DEBUG=True
SECRET_KEY='development'
ROLLBAR_TOKEN='token'
LOG_LEVEL='DEBUG'
ENVIRONMENT='development
TABLE_NAME='seshdash_bom_data_point'
APIKEY=None
MAPPING=dict()
BULK_INDEX_MAPPING=dict()

